<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="C:\Users\Lamber\Desktop\Hotel management system\Hotel_management\admin\static\styles\admin_login.css">
    <title>Admin Login - Harmony Heights Hotel System</title>
</head>
<body>
    <div class="container">
        <img class="logo" src="C:\Users\Lamber\Desktop\Hotel management system\Hotel_management\admin\static\images\harmony.JPG" alt="Harmony Heights Hotel Logo">
        <h2>Admin Login</h2>
        <form action="/admin/login" method="post">
            <input type="text" name="username" placeholder="Username" required>
            <input type="password" name="password" placeholder="Password" required>
            <input type="submit" value="Login">
        </form>
    </div>
</body>
</html>
